@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 326 100% 97%;
    --foreground: 320 70% 40%;

    --card: 0 0% 100%;
    --card-foreground: 320 70% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 320 70% 40%;

    --primary: 320 70% 55%;
    --primary-foreground: 210 40% 98%;

    --secondary: 300 100% 97%;
    --secondary-foreground: 320 70% 40%;

    --muted: 300 100% 97%;
    --muted-foreground: 320 30% 60%;

    --accent: 320 100% 90%;
    --accent-foreground: 320 70% 40%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 320 70% 90%;
    --input: 320 70% 90%;
    --ring: 320 70% 55%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 320 70% 5%;
    --foreground: 320 70% 90%;

    --card: 320 70% 10%;
    --card-foreground: 320 70% 90%;

    --popover: 320 70% 10%;
    --popover-foreground: 320 70% 90%;

    --primary: 320 70% 60%;
    --primary-foreground: 320 10% 5%;

    --secondary: 320 30% 15%;
    --secondary-foreground: 320 70% 90%;

    --muted: 320 30% 15%;
    --muted-foreground: 320 30% 70%;

    --accent: 320 30% 15%;
    --accent-foreground: 320 70% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 320 30% 25%;
    --input: 320 30% 25%;
    --ring: 320 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .heart {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    transform: rotate(-45deg);
    background-color: #D946EF;
  }
  .heart:before, .heart:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #D946EF;
    border-radius: 50%;
  }
  .heart:before {
    top: -30px;
    left: 0;
  }
  .heart:after {
    top: 0;
    left: 30px;
  }
}